.job-accord .mat-expansion-panel-header-title,
.job-accord .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.job-accord .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
