<mat-toolbar color="primary">
<button mat-button color="basic" (click)="openDialog()">Create Job</button>
</mat-toolbar>

<ng-container *ngIf="jobs.length; else empty">
    <mat-accordion class="job-accord">
        <mat-expansion-panel *ngFor="let job of jobs; index as index;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{job.get('name')?.value}}
                </mat-panel-title>
                <mat-panel-description *ngIf="job.get('method') as mt">
                    <mat-chip-list>
                        <mat-chip [matMenuTriggerFor]="menu" [color]="methodColors[mt.value]" selected>
                            {{mt.value}}
                        </mat-chip>
                    </mat-chip-list>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngFor="let method of methods" (click)="mt.setValue(method)">{{method}}</button>
                    </mat-menu>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <ng-container *ngTemplateOutlet="sharedFields; context: {f: job}"></ng-container>
            </ng-template>

            <mat-action-row>
                <button mat-button color="warn" (click)="remove(job.get('name')?.value, index)">Delete</button>
                <a mat-button color="primary" [routerLink]="[job.get('name')?.value]">
                    View Responses
                </a>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</ng-container>

<ng-template #empty>
    <div class="ta-center">
        <div class="m-t-l">
            <h1>There are no jobs at the moment.</h1>
        </div>
        <img src="assets/empty-jobs-picture.jpg" alt="" width="700">
    </div>
</ng-template>

<ng-template #sharedFields let-f="f">
    <ng-container [formGroup]="f">
        <mat-form-field>
            <mat-label>URL</mat-label>
            <input matInput formControlName="url">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Timezone</mat-label>
            <mat-select formControlName="timeZone">
                <mat-option *ngFor="let tz of timezones" [value]="tz">
                    {{tz}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div>Body</div>
        <cc-json-editor formControlName="body"></cc-json-editor>

        <div>Headers</div>
        <cc-json-editor formControlName="headers"></cc-json-editor>

        <mat-slide-toggle formControlName="storeBody">Store Body</mat-slide-toggle>
        <mat-slide-toggle formControlName="storeHeaders">Store Headers</mat-slide-toggle>
    </ng-container>
</ng-template>

<ng-template #newJob>
    <h4 mat-dialog-title>New Job</h4>

    <form [formGroup]="form">
        <mat-dialog-content>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Method</mat-label>
                <mat-select formControlName="method">
                    <mat-option *ngFor="let method of methods" [value]="method">
                        {{method}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <ng-container *ngTemplateOutlet="sharedFields; context: {f: form}"></ng-container>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button mat-button color="primary" [jpLoadClick]="save()">
                Save
            </button>
        </mat-dialog-actions>
    </form>
</ng-template>
