<mat-toolbar color="primary">
    <span>Cron Server</span>
</mat-toolbar>

<div class="container">
    <mat-card>
        <div class="flex ai-center">
            <span class="m-r-auto">/ Accounts</span>
            <button (click)="open()" mat-flat-button color="primary">Create Account</button>
        </div>
    </mat-card>

    <br>

    <mat-card>
        <mat-nav-list>
            <mat-list-item *ngFor="let account of accounts; index as index">
                <a matLine [routerLink]="[account._id, 'jobs']"><b>{{account.name}}</b></a>
                <a matLine [routerLink]="[account._id, 'jobs']">{{account.description}}</a>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="open(account)">Edit account</button>
                    <a mat-menu-item [routerLink]="[account._id, 'jobs']">View jobs</a>
                    <button mat-menu-item (click)="remove(account._id, index)">Delete</button>
                </mat-menu>
            </mat-list-item>
        </mat-nav-list>
    </mat-card>
</div>

<ng-template #cu>
    <form [formGroup]="form">
        <h1 mat-dialog-title>{{form.get('_id')?.value ? 'Edit' : 'Create'}} Account</h1>

        <mat-dialog-content>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description (optional)</mat-label>
                <textarea formControlName="description" matInput></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Api Key</mat-label>
                <input formControlName="apiKey" matInput>
            </mat-form-field>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button [jpLoadClick]="save()" color="primary" mat-button>
                Save
            </button>
        </mat-dialog-actions>
    </form>
</ng-template>
