<ng-template #cu>
    <form [formGroup]="form">
        <h4 mat-dialog-title>{{form.get('_id')?.value ? 'Edit' : 'Create'}} Account</h4>

        <mat-dialog-content>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Api Key</mat-label>
                <input matInput formControlName="apiKey">
            </mat-form-field>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button mat-button color="primary" [jpLoadClick]="save()">
                Save
            </button>
        </mat-dialog-actions>
    </form>
</ng-template>

<button mat-button (click)="open()">
    Create Account
</button>

<div *ngFor="let account of accounts; index as index;">
    <span>{{account.name}}</span>

    <div>
        <button mat-button color="warn" (click)="remove(account._id, index)">
            Delete
        </button>
        &nbsp;
        <a mat-button [routerLink]="[account._id, 'jobs']">
            View Jobs
        </a>
    </div>
</div>
