<mat-accordion>
    <mat-expansion-panel *ngFor="let response of responses; index as index;">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{response._id | mongoId | date}}
            </mat-panel-title>
            <mat-panel-description>
                <!--<mat-chip-list>
                    <mat-chip [color]="response.status >= 200 && response.status <= 299 ? 'primary' : 'warn'" selected>{{response.status}}</mat-chip>
                </mat-chip-list>-->
            </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>

            <ng-container *ngIf="response.body">
                <div>Body</div>
                <cc-json-editor [setValue]="response.body"></cc-json-editor>
            </ng-container>

            <ng-container *ngIf="response.headers">
                <div>Headers</div>
                <cc-json-editor [setValue]="response.headers"></cc-json-editor>
            </ng-container>

            <ng-container *ngIf="response.error">
                {{response.error}}
            </ng-container>
        </ng-template>

        <mat-action-row>
            <button mat-button color="warn" (click)="remove(response._id, index)">Delete</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

<button mat-button [disabled]="!hasMore" [class.loading]="loading$ | async">Load More</button>
